/* =============================================================================================
                                    THEME 1
   ============================================================================================= */


/* =============
   GLOBAL STYLES
   ============= */

body {
    background-color: hsl(222, 26%, 31%);
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "League Spartan";
    overflow: hidden;
}

main {
    display: flex;
    flex-grow: auto;
    flex-direction: column;
    max-width: 20rem;
    width: 50%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

@media screen and (max-width: 600px) {
    main {
        width: 100%;
        height: 100%;
    }
}

/* =================
   CALCULATOR LAYOUT
   ================= */
   
   .header {
       display: flex;
       justify-content: space-between;
       align-items: center;
       color: white;
       overflow: hidden;
       font-weight: bold;
    }
    
    .screen {
        height: 4rem;
        border-radius: 0.5rem;
        margin: 0.5rem 0 0.5rem 0;
        background-color: hsl(224, 36%, 15%);
        overflow: hidden;
        display: flex;
        justify-content: end;
        align-items: center;
        padding-right: 0.5em;
        color: white;
        font-size: 2.5em;
    }
    
.keypad {
    display: grid;
    grid-template-areas: "seven eight nine del"
                         "four five six plus"
                         "one two three minus"
                         "dot zero div multi"
                         "reset reset equal equal";
    gap: 0.8rem;
    border-radius: 0.5rem;
    align-content: stretch;
    justify-content: stretch;
    background-color: hsl(223, 31%, 20%);
    overflow: auto;
    padding: 1rem;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

/* =================
      KEYPAD LAYOUT
   ================= */


.keypad > * {
    padding: 0.3em;
    font-weight: bold;
    font-size: 1.1rem;
    border-radius: 0.5rem;
    border: none;
}

.keypad .numbers,
.keypad .operators {
    color: hsl(221, 14%, 31%);
    background-color: hsl(30, 25%, 89%);
    box-shadow: 0 2px hsl(28, 16%, 65%);
    font-size: 1.2em;
}
.keypad .numbers:hover,
.keypad .operators:hover,
.keypad .numbers:focus,
.keypad .operators:focus {
    background-color: white;
    cursor: pointer;
}

.keypad .functions {
    color: white;
    background-color: hsl(225, 21%, 49%);
    box-shadow: 0 2px hsl(224, 28%, 35%);
    font-size: 0.8em;
}
.keypad .functions:hover,
.keypad .functions:focus {
    cursor: pointer;
    background-color: hsl(225, 21%, 60%);
}

.equal {
    background-color: hsl(6, 63%, 50%);
    color: white;
    box-shadow: 0 2px hsl(6, 70%, 34%);
}
.equal:hover,
.equal:focus {
    background-color: hsl(6, 63%, 60%);
    cursor: pointer;
}

#zero {grid-area: zero;}
#one {grid-area: one;}
#two {grid-area: two;}
#three {grid-area: three;}
#four {grid-area: four;}
#five {grid-area: five;}
#six {grid-area: six;}
#seven {grid-area: seven;}
#eight {grid-area: eight;}
#nine {grid-area: nine;}
#plus {grid-area: plus;}
#minus {grid-area: minus;}
#times {grid-area: multi;}
#division {grid-area: div;}
#decimal {grid-area: dot;}
#equals {grid-area: equal;}
#del {grid-area: del;}
#reset {grid-area: reset;}

/* ==================
      THEME SWITCH
   ================== */
.theme-selector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 1em;
}
.theme-text {
    margin-left: auto;
    margin-right: 1rem;
    font-size: 10px;
}
.theme-switch {
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 10px;
    width: auto;
}

input {
    height: 0.8rem;
    width: 0.8rem;
    margin: 0;
    padding: 0;
    appearance: none;
    background-color: black;
    border-radius: 50%;
    opacity: 0;
}

input:hover {
    cursor: pointer;
}
.switch {
    width: 3rem;
    height: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: hsl(223, 31%, 20%);
}
.switch .button {
    width: calc(100%-1rem);
    height: calc(100%-1rem);
    background-color: hsl(6, 63%, 50%);
    border-radius: 50%;
    display: inline-block;
    opacity: 0;
    transition: width 1s ease-in-out, height 1s ease-in-out;

}
.swtich input:checked + .button {
    opacity: 1;
    display: inline-block;
}

#theme-one{
    opacity: 1;
}
#theme-one,
#theme-two,
#theme-three {    
    
}


/* =============================================================================================
                                    THEME 2
   ============================================================================================= */

   /* =============================================================================================
                                    OK lets go
   ============================================================================================= */